body {
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
    color: hsl(278, 68%, 11%);
    Font-size: 18px;
    overflow-x: hidden;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}



main {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    display: relative;
    
}

.section {
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 800px;
    justify-content: center;
    align-items: center;
}

/*card example section*/
.cardExample{
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.card {
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    height: 245px;
    color: white;
    width: 447px;
    padding: 30px;
    box-sizing: border-box;
}

.card>h2 {
    font-size: 27px;
    font-weight: 100;
    margin: 0;
}

.bottom-wrapper>p {
    margin: 0;
}

.card>svg {
    margin-bottom: 30px;
    overflow: visible;
}

.card-front {
    background-image: url(./images/bg-card-front.png);
    justify-content: space-between;
}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow-wrap: break-word;
    font-size: 14px
}
.bottom-wrapper>p:first-child{
    max-width: 80%;
    overflow: auto;
}

.card-back {
    background-image: url(./images/bg-card-back.png);
    transform: translateY(40px) translateX(80px);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.cvc-wrapper {
    width: 100%;
    height: 40px;
    font-size: 13px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    letter-spacing: 3px;
}


/* form */

.right-container {
    width: 700px;
    display: flex;
    align-items: center;
}

.container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.inputs {
    width: 100%;
    margin-bottom: 20px;
}

.error {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    color: hsl(0, 100%, 66%);
}

input {
    margin-top: 5px;
    font-family: 'Space Grotesk', sans-serif;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid hsl(270, 3%, 87%);
    box-sizing: border-box;
    width: 100%;
    padding: 0px 12px;
}

input[type="text"]:focus {
    border:1px solid hsl(279, 6%, 55%) !important;
    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset !important;
    box-shadow:0 1px 2px rgba(255, 255, 255, 0.3) inset !important;
    outline: none !important;
}

.last-input {
    display: flex;
}

.last-input>div {
    flex-basis: 50%;
}


.date-input>input {
    width: 40%;
}

input[name="month"] {
    margin-right: 10px;
}

input[name="cvc"] {
    width: 100%;
}

input::placeholder {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.211);
}

button {
    width: 100%;
    font-size: 18px;
    color: white;
    background-color: hsl(278, 68%, 11%);
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
}

label {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}



.completed-container {
    text-align: center;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.completed-container>h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    margin-top: 30px;
}

.completed-container>h3 {
    font-size: 20px;
    font-weight: 400;
    color: hsl(0, 0%, 44%);
    margin: 15px 0px;
}

.completed-container>button {
    margin-top: 30px;
}

button:hover {
    cursor: pointer;
}

@media (max-width:900px) {
    body{
        height: auto;
    }
    main {
        height: auto;
        flex-direction: column;
        
        background-size: contain;
    }

    .section {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    /* form */ 
    .right-container {
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 70px;
    }

   

    .container {
        width: 100%;
        padding: 50px;
    }

    .inputs {
        width: 100%;
        margin-bottom: 20px;
    }



    /*card example section*/
    .cardExample{
        height: 300px;
        background-image: url(./images/bg-main-mobile.png);
        display: block;
        position: relative;
        padding: auto;
        background-size: cover;
        justify-content: start;
        overflow: visible;
    }
    .card{
        letter-spacing: 3px;
        width: calc(447px*0.7);
        height: calc(245px*0.7);
        padding: calc(30px*0.7);
        background-size: contain;
        font-size: 13px;
        box-sizing: border-box;
    }

    .card>h2 {
        font-weight: 100;
        margin: 0;
        font-size: 18px;
    }

    .bottom-wrapper>p {
        margin: 0;
        font-size: 10px;
    }

    .card>svg {
        margin-bottom: calc(30px*0.7);
        overflow: visible;
    }

    .card-front {
        background-image: url(./images/bg-card-front.png);
        background-repeat: no-repeat;
        background-size: cover;
        left:10%;
        top: 50%;
        position: absolute;
        z-index: 1;
    }

    .bottom-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .card-back {
        box-sizing: border-box;
        position: absolute;
        top: 0px;
        right: 30%;
        padding: calc(50px*0.8);
        background-size: cover;
        
    }

    .cvc-wrapper {
        width: 100%;
        height: 40px;
        font-size: 13px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: end;
        letter-spacing: 3px;
    }

}
